<html>
<head>
    <title>Opengift Admin</title>
</head>
<body>
<iframe class="js-projects" src="https://opengift.io/project/list/jira/?frame=yes&jira=1" style="width: 100%;"></iframe>
<script>
    $(function () {
        $('iframe.js-projects').css('height', $(window).height());
    });
</script>
</body>
</html>